body {
  font-family: Arial, Helvetica, sans-serif;
}
/* rule one */
.para,
.small-para,
.child {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}
/* rule two */
.para {
  font-size: 22px;
}
/* rule three */
.small-para {
  font-size: 14px;
}

/*rule four*/

.button {
  font-size: 20px;
}

/*rule five*/

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

/*rule six*/
.cancel {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*rule seven*/

.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}
/*rule eight*/
.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

